<section id="about" class="page">
    <div class="aboutContent container">
        <div data-aos="fade-up" data-aos-offset="10">
            <div class="title">
                <h1>About</h1>
            </div>
            <div class="insideContainer">
                <div class="name">
                    <h2>Jay Patel <span class="typed"></span></h2>
                </div>
                <div class="details">
                    <p>
                        As a passionate and adaptable Software Development Co-op student, I thrive on pushing the
                        boundaries of my programming expertise. With a solid foundation in full-stack development and
                        proficiency in languages such as <span class="highlight">Java, Python, and C,</span> I bring
                        hands-on experience in crafting
                        responsive web applications using cutting-edge technologies like <span class="highlight">ReactJS
                            and Angular.</span>
                    </p>
                    <p>
                        Dedicated to clean and scalable code, my commitment to continuous learning shines through
                        as I explore the intricacies of Kotlin and iOS.
                    </p>
                </div>
                <div class="contactInfo">
                    <ul class="detailsContainer">
                        <div>
                            <li><a class="lnk" href="https://www.google.com/maps/place/Brampton,+ON" target="_blank"><i
                                        class="icon fa-solid fa-location-dot fa-xl"></i> Brampton, Canada</a></li>
                            <li><a class="lnk"
                                    href="https://www.sheridancollege.ca/programs/computer-systems-technology-software-development-and-network-engineering"
                                    target="_blank"><i class="icon fa-solid fa-book fa-xl"></i> Software Development and
                                    Network Engineering</a>
                            </li>
                            <li><a class="lnk" href="https://www.sheridancollege.ca/" target="_blank"><i
                                        class="icon fa-solid fa-graduation-cap fa-xl"></i> Sheridan College</a></li>
                        </div>

                        <div>
                            <li><a class="lnk" href="mailto:patejayp@sheridancollege.ca"><i
                                        class="icon fa-solid fa-envelope fa-xl"></i> patejayp@sheridancollege.ca</a>
                            </li>
                            <li class="lnk"><i class="icon fa-solid fa-phone fa-xl"></i> 647-834-2562</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>