li{
    list-style: disc;
}


.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    margin-left: 29px;
}

.timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
}

.color-2 {
    background: var(--primary-color);
}

.timeline-label {
    position: relative;
    background: #f2f3f7;
    padding: 1.5em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-label span {
    -webkit-opacity: 5;
    -moz-opacity: .5;
    opacity: .5;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 1rem;
}

.timeline-label h2 {
    font-size: 20px;
    font-weight: 500;
}

.timeline-label span {
    font-weight: 600;
}

.timeline-label h4 {
    font-size: 1rem;
    font-weight: 600;
}

.timeline-label ul {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        opacity: 0.9;
}
