<section id="projects" class="page">
    <div class="projectContent container">
        <div class="title">
            <h1>Projects</h1>
        </div>
        <div data-aos="fade-up" data-aos-offset="10">
            <div class="insideProjectContainer">
                <div class="items">
                    <div class="item">
                        <div class="item-image">
                            <img src="assets/images/item1.png" alt="">
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <p class="item-text-category">Design</p>
                                <h2 class="item-text-title">Angular Portfolio</h2>
                                <p class="item-text-link"><a href="https://github.com/Jaypatel2510/portfolio.git" target="_blank">Code</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img src="assets/images/item2.png" alt="">
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <p class="item-text-category">CRUD Application</p>
                                <h2 class="item-text-title">Spring Boot Application</h2>
                                <p class="item-text-link"><a href="https://github.com/Jaypatel2510/Spring-Boot-Application.git" target="_blank">Code</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>