<section id="contact" class="page">
    <div class="contactContent container">
        <div class="title">
            <h1>Get in touch</h1>
        </div>
        <div class="insideContactContainer">
            <div class="row">
                <div class="col-md-3 bg-black left">
                    <div class="contact-info">
                        <img src="assets/images/contactImage.png" alt="image" />
                        <h4 style="color: #fff;">Do not hesitate to contact me</h4>
                    </div>
                </div>
                <div class="col-md-9">
                    <form>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter your name"
                                    name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter you email"
                                    name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="subject">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="subject" placeholder="Enter subject"
                                    name="subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="message">Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="MuiButtonBase-root MuiButton-root MuiButton-text btnResume" tabindex="0"
                                    type="button">
                                    <span class="MuiButton-label">Submit</span>
                                    <span class="MuiTouchRipple-root"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>