<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Portfolio Website">
  <meta name="description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta property="og:image" content="Developer Portfolio">
  <meta charset="utf-8">
  <meta property="og:site_name" content="Developer Portfolio">
  <meta property="og:title" content="Developer Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta itemprop="name" content="Developer Portfolio">

  <meta itemprop="description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta itemprop="thumbnailUrl" content="">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

  <title>Jay Patel</title>
</head>

<body>
  <div id="root">
    <div class="app">
      <div>
        <div class="navbarMenu">
          <div class="navbarContainer">
            <div class="menu-wrap">
              <input type="checkbox" class="toggler">
              <div class="hamburger">
                <div></div>
              </div>
              <div class="menu">
                <div>
                  <div>
                    <ul>
                      <li><a href="#landing">
                        <!-- <i class="fa-solid fa-house fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                            Home</a></li>
                      <li><a href="#about">
                        <!-- <i class="fa-solid fa-user fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                            About</a></li>
                      <li><a href="#journey">
                        <!-- <i class="fa-solid fa-road fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                            Journey</a></li>
                      <li><a href="#skills">
                        <!-- <i class="fa-solid fa-brain fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                            Skills</a></li>
                      <li><a href="#projects">
                              <!-- <i class="fa-solid fa-envelope fa-sm"
                                  style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                                  Projects</a></li>
                      <!-- <li><a href="#contact"> -->
                        <!-- <i class="fa-solid fa-envelope fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i>  -->
                            <!-- Contact</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-home></app-home>
        <app-about></app-about>
        <app-journey></app-journey>
        <app-skills></app-skills>   
        <app-projects></app-projects>
        <!-- <app-contact></app-contact> -->
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="footer-content container">
        <p class="details">Copyright &copy; All Rights Reserved</p>
        <!-- <div class="social"> -->
          <div>
          <a href="https://www.linkedin.com/in/pateljay2510/" target="_blank" rel="noreferrer">
            <i class="icon fa-brands fa-linkedin fa-2xl" style="color: #fff;"></i>
          </a>
          <a href="https://github.com/Jaypatel2510" target="_blank" rel="noreferrer">
            <i class="icon fa-brands fa-square-github fa-2xl" style="color: #fff;"></i>
          </a>
        </div>
    </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="../assets/js/main.js"></script>
</body>