<section id="landing" class="landing page">
  <div class="landingContainer">
    <div class="landingContainerLeft">
      <div class="contentLeft">
        <a href="https://www.linkedin.com/in/pateljay2510/" target="_blank" rel="noreferrer">
          <i class="icon fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i>
        </a>
        <a href="https://github.com/Jaypatel2510" target="_blank" rel="noreferrer">
          <i class="icon fa-brands fa-square-github fa-2xl" style="color: #000000;"></i>
        </a>
      </div>
    </div>
    <img src="assets/images/jay.jpg" alt="" class="landingImg">
    <div class="landingContainerRight">
      <div class="contentRight">
        <h6>Software Developer</h6>
        <h1>Jay Patel</h1>
        <p>Welcome to my dynamic digital space! As a seasoned software developer proficient in Java, Python, C and
          Angular, I bring a passion for crafting elegant solutions to complex problems. With a solid foundation in
          versatile programming languages and a knack for creating seamless user experiences, I am dedicated to pushing
          the boundaries of innovation.</p>
        <div class="buttonContainer">
          <a href="https://drive.google.com/file/d/1ktGkEIkPYO-hkC25NMndidiydcQj0bI7/view?usp=drive_link"
            download="resume" target="_blank" rel="noopener noreferrer">
            <!-- <a href="assets/resume/Resume.pdf" download="resume" target="_blank" rel="noopener noreferrer"> -->
            <button class="MuiButtonBase-root MuiButton-root MuiButton-text btnResume" tabindex="0" type="button">
              <span class="MuiButton-label">Resume</span>
              <span class="MuiTouchRipple-root"></span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>